<!DOCTYPE HTML>

<html class="light yellow js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths wf-ffdinwebpro1ffdinwebpro2-n3-active wf-ffdinwebpro1ffdinwebpro2-n7-active wf-active">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="William Humphreys-Cloutier" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="span4 sidebar">
        <h1 class="name">WHC</h3>
        <div class ="subtitle blue">
          <h2 class="about">cs student @umanitoba. co-op dev @500px.</h5>
        </div>
        <ul class="links">
          <li>
            <h3>
              <a href="/">blog</a>
            </h3>
          </li>
          <li>
            <h3>
              <a href="/about">about</a>
            </h3>
          </li>
          <li>
            <h3>
              <a href="/resume">resumé</a>
            </h3>
          </li>
          <li>
            <h3>
              <a href="/internet">say hello</a>
            </h3>
          </li>
        </ul>
      </div>
      <div class="span8 content">
        <h3>{{ page.title }}</h3>
        <section class="">
          {{ content }}
        </section>
      </div>
  </body>
</html>
